<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<%= link_to "Show Reviews", restaurant_reviews_path(@restaurant) %>
<br>
<%= link_to "Add a Review", new_restaurant_review_path(Restaurant.find(params[:id])) %>
<br>
<%= link_to "Go Back", restaurants_path %>
